@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Source+Sans+Pro&display=swap');
/* header {
    width: 100%;
    height: 10vh;

    
} */
li a{
 text-decoration: none;       
}
.logo {
    position: fixed;
    float: left;
    margin: 16px 36px;
    
}
nav{
    position: fixed;
    width: 100%;
}
nav ul {
    list-style: none;
    background: rgba(0,0,0,0);
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}
nav.black ul {
    background: #000;
}
nav ul li {
    display: inline-block;
    padding: 20px;
}
li a{
    font-size:10px;
    color: white;
}
nav ul li a {
    letter-spacing: 2px;
}

/* nav{
    display: flex;
    flex-direction:row ;
    justify-content: flex-end;
} */

.logo-img {
    margin-right: 80vw;
}
a {
    text-decoration: underline;
    color: #000;
}
body{
    background-color: black;
    font-family: 'Source Sans Pro',sans-serif;
    text-align: center;
}
.content{
    padding: 25px;
}
.sixth-policy {
    background-color: black; 
    padding: 30px 0px;
    margin: -10px; 
    /* align-items: center; */
    text-align: center;   
}

.sixth-policy>p>a{
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}
.wrapper{
    background-color: black;
}
.ig {
    background: #B9E6C3;
    border-radius: 10px;
    margin-bottom: 50px;
  }
p{
    font-family: 'Source Sans pro',sans-serif;
    padding: 10px 150px;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #b9e6c3;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  overflow: hidden;
  background-color: transparent;
  padding: 90px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
.navigate-to{
  display: none;
}
.white{
  color: white;
  /* padding: 25px; */
  text-align: center;
  font-family : "Source Sans Pro", arial, sans-serif;
  font-size : 20px;
  /* line-height : 36px; */
  text-decoration : rgb(247, 247, 247);
  text-align : center;
  font-weight: 500;
  word-spacing : 0px;
  margin-bottom: 40px;
}
.girl-sitting{
  margin-top: 10%;
  padding-top: 3%;
  max-width: 100%;
}

.quote {
  font-family: "Fjalla One", arial, sans-serif;
  color: white;
  font-size: 10vh;
  word-break:normal;
  padding: 0px 100px;
  margin-top: 50vh;

}

#navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
header {
  width: 100%;
  height: 10vh;
  background-color: black;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#navbar a:hover {
  background-color: #50C878;
  color: black;
}

#navbar a.active {
  background-color: #50C878;
  color: white;
}

#navbar-right {
  float: right;
}

.logo-image {
  height: 70px;
  transition: 0.4s;
}

.first-image-para img {
  /* background-image: url(woman-man.jpg); */
  object-fit:cover;
  width: 100vw;
  margin-bottom: -150px;
  height: 100vh;

}

.fjalla {
  text-align: center;
  margin-top: -50vh;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }

  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }

  #navbar-right {
    float: none;
  }
}

#navbar-right a {
  font-size: 10px;
  margin-top: 5px;
  font-weight: 900;
}

.container{
  height:500px;
  overflow: hidden;
}
.shrink-on-scroll {
  height: auto; /* set the height of the image to auto so it can shrink */
  transition: transform 0.2s ease-in-out; /* add a transition effect to the transform property */
}

.shrink-on-scroll.shrink {
  transform: scale(0.8); /* scale the image to 80% of its original size */
}
@media screen and (max-width: 768px){
  #navbar, header{
    display: none;
  }
  .flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .navigate-to{
    display: block;
    background-color: black;
    padding: 10%;
    text-align: center;
  }
  .navigate-to .mobile-links a{
    color: white;
    font-family: 'Source Sans Pro';
    font-weight: 900;
    
    font-style:bold;
    line-height: 35pt;
    padding: 1vh;
    border-radius: 5px;
  }
  .active{
    margin: 10vh;
    background-color: #50C878;
    text-decoration: none;
  }
 .girl-sitting{
  max-width: 100%;
  /* margin-left: 0px; */
  max-height: 55vh;
  margin-top: 5vh;
  
 }
 .content p{
  padding: 0px;
  text-align: start;
  margin: 5px;
  margin-top: 15px;
 }
  
}